
<html>
  <head>
    <title>Martini Plz</title>
  </head>
  <body>
    
    <style type="text/css">

    </style>
    <div id="all" style="display:inline-block;">
    <div id="left_menu">
    <a class="leftmenu" href="/create_user">Create User</a><br>
    <a class="leftmenu" href="/maps">List of your maps</a><br>
    </div>

    <div id="content" class="content">
        {{ yield }}
    </div>
</div>
  </body>
</html>