<form action="/create_user" method="POST">
    Username: <input type="text" name="Username"><br>
    Password: <input type="password" name="Password"><br>
    Confirm Password: <input type="password" name="PasswordConfirm"><br>
    <button type="submit">submit</button>
</form>